<!DOCTYPE html>
<html lang="PT_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conheça o METIS</title>
</head>
<body>
    <!--BARRA DE NAVEGACÃO DO METIS PARA O MEDICO E O PACIENTE PODER NAVEGAR ENTRE AS FUNCINALIDADES DO METIS-->
    <div>
        <nav>
            <ul>
                <li>
                    <a href="">
                        Receitas
                    </a>
                </li>
                <li>
                    <a href="">
                        Exames
                    </a>
                </li>
                <li>
                    <a href="">
                        Consultas
                    </a>
                </li>
                <li>
                    <a href="">
                        Analise
                    </a>
                </li>
                <li>
                    <a href="">
                        configurações 
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>